#register, #login {
    width: auto;
    border: 1px solid #d6d7da;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: rgb(255, 255, 255);
    margin-top: 50px;
    
  }

  .row-cards{
    
    justify-content: center;
  }

  .descript{

    margin: 50px;
  }

  .card-descript{

    width: auto;
    margin-top: 50px;
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 15px;    
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }

  #main-registration-container .menu-desc h2{

    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin-top: 0.5%;
}

#main-registration-container .menu-desc{

    margin-top: 5%;
}