.shopping-currency {
    border: 1px solid #ddd;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
    margin-right: 10px;
}
.shopping-currency a {
    color: #666;
}
.price {
    color: #1abc9c;
    font-weight: 700;
}