#roundButton {
    background-color: #96D9FF;
    margin-bottom: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);

  }
   
  #roundButton:hover {
    background-color: rgb(0, 73, 116);
    cursor: pointer;
    border-color: #c3d2db;
    transform: scale(1.2, 1.2);
  }
   
  #roundButton:active {
    border-color: #63bff8;
    background-color: #FFF;
  }