.react-icons {

    font-size: 1,5em;
    margin-right: 5px
}

.nav-link {

    margin-left: 5px;
}

.gads-img{

    border-radius: 50%;
}

.login-link{

    margin-right: 0;
}

.form-login{

    justify-content: center;
}

.errorMsgModal {
    color: #cc0000;
    margin-bottom: 12px;    
    margin-left: 40px;
  }
